/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.link {
  text-shadow: 2px 2px 0px var(--title-color-shadow);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--border-color-link);
}

.link:focus-visible {
  outline: 1px solid var(--border-color-link);
}

.page {
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center center;
}

.header {
  margin-bottom: 62px;
}

.decorated-zone {
  padding-top: 20px;
  padding-bottom: 134px;
  padding-right: 20px;
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 20px;
  border-top: 1px solid var(--border-color-frame);
  border-right: 1px solid var(--border-color-frame);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 20px;
  bottom: 19px;
  border-bottom: 1px solid var(--border-color-frame);
  border-left: 1px solid var(--border-color-frame);
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  padding-left: 20px;
  line-height: 18px;
}

.header__theme-menu-button {
  background: none;
  border: 0;
  padding: 2.5px 13px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: var(--text-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--border-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: 0;
  border-bottom: 1px solid var(--border-color);
}

.header__text {
  color: var(--text-color);
  position: absolute;
  padding-right: 18.5px;
  top: 21px;
  right: 30px;
}

.header__text::after {
  content: '';
  position: absolute;
  right: -2px;
  top: 7px;
  width: 9px;
  height: 9px;
  background-color: var(--text-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--text-color);
}

.title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: var(--font-weight-bold);
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-color-shadow);
}

.header__title {
  padding-top: 277px;
  line-height: 83%;
}

.header__card {
  max-width: 491px;
  background-color: var(--bacground-color-header);
  margin-left: auto;
  color: #000;
  font-weight: var(--font-weight-bold);
  margin-top: 113px;
}

.main {
  margin: 0 20px;
  margin-bottom: 60px;
}

.section-wrapper {
  display: flex;
  margin-bottom: 80px;
}

.focus {
  gap: 34px;
}

.focus__title {
  flex: 0 0 300px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  justify-content: space-around;
}

.title-decor {
  font-weight: var(--font-weight-bold);
  color: var(--color-title-card);
  background-color: var(--card-background-color);
  font-size: var(--font-size-normal);
  width: 100%;
}

.section-title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-normal);
  color: var(--text-color);
}

.cards__item-text {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  color: var(--color-text-card);
  line-height: 23.4px;
  margin-top: 9px;
}

.concentration {
  flex-direction: column;
}

.concentration__title {
  max-width: 300px;
  margin-bottom: 21px;
}

.concentration .cards__item {
  flex: 0 0 314px;
}

.tip {
  gap: 32px;
}

.tip__list {
  gap: 21px;
  margin-top: 21px;
}

.tip__cards {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.tip__title {
  flex: 0 0 303px;
}

.cards__item-subtitle {
  font-weight: var(--font-weight-normal);
}

.cards__title {
  background-color: var(--card-background-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-normal);
  color: var(--color-title-card);
}

.images__title {
  margin-bottom: 21px;
}

.images__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 433px;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.images__gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.images__sunset {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.images__cream {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.images__tape {
  grid-column: 1;
  grid-row: 2 / span 2;
}

.images__books {
  grid-column: 2;
  grid-row: 2;
}

.images__street {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.footer {
  padding: 283px 0;
  background-image: none;
  display: flex;
  justify-content: center;
}

.block-line {
  display: block;
}

@media (width<1024px) {
 .header__theme-menu {
    gap: 149px;
    flex-direction: column-reverse;
  }

  .header__theme-menu-list {
    padding-left: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 13.5px;
  }
}

@media (768px<=width<1024px) {
  .decorated-zone {
    padding-bottom: 183px;
    padding-top: 192px;
  }

  .header__title {
    font-size: 120px;
    padding-top: 178px;
  }

  .header__card {
    margin-top: 159px;
    max-width: 363px;
  }

  .main {
    margin-bottom: 62px;
  }
  
  .focus-tip {
    margin-bottom: 80px;
  }

  .focus__title {
    flex: 0 0 221px;
  }

  .concentration__title {
   max-width: 228px;
  }

  .concentration__list {
    gap: 21px;
    flex-wrap: wrap;
  }

  .concentration .cards__item {
    flex: none;
    width: 100%;
  }

  .concentration__item {
    flex: 1 1 auto;
  }

  .tip {
    gap: 25px;
  }

  .tip__list {
    margin-top: 22px;
  }

  .tip__title {
    flex: 0 0 230px;
  }

  .images__gallery {
    grid-template-rows: 193px 230px 316px;
  }

  .footer__title {
    font-size: 120px;
    padding-top: 241px;
    padding-bottom: 250px;
  }
}

@media (width<768px) {
  .decorated-zone {
    padding-bottom: 66px;
    padding-top: 74px;
    padding-right: 12px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 9.5px;
  }
  .decorated-zone::before {
    right: 10.5px;
    top: 10px;
  }
  .header {
    margin-bottom: 41px;
  }

  .header__text {
    top: 10px;
    right: 21px;
  }

  .header__theme-menu {
    gap: 43px;
  }

  .header__card {
    margin-left: 10px;
    margin-top: 54px;
  }

  .header__title {
    padding-left: 10px;
    padding-top: 68px;
  }

  .main {
    margin: 0 10px;
    margin-bottom: 39px;
  }

  .section-wrapper {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .section-title {
    flex: 0 0 100%;
  }

  .focus {
    gap: 21px;
  }

  .concentration__list {
    gap: 22px;
  }

  .tip {
    gap:21px;
  }

  .concentration .cards__item {
    flex: 0 0 100%;
  }

  .images__gallery {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .images__title {
    margin-bottom: 12px;
  }

  .footer__title {
    padding-top: 185px;
    padding-bottom: 190px;
    padding-left: 7px;
    font-size: 116px;
  }
}
