/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.link {
  text-shadow:1px 1px 0px var(--title-color-shadow);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--title-color-shadow);
}
.link:focus {
  outline:1px solid var(--title-color-shadow);
}

.page {
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  background-color: var(--background-page);
}

.header {
  margin-bottom: 60px;
}

.decorated-zone {
  padding-top: 20px;
  padding-bottom: 134px;
  background-image: var(--background-image-dark);
      background-size: cover;
  padding-right: 20px;
  position: relative;
background-position: center;
}

.decorated-zone::before {
  content: '';
  position: absolute;
    right: 21px;
  top: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--bacground-color-header);
  border-right: 1px solid var(--bacground-color-header);
}
.decorated-zone::after {
  content: '';
  position: absolute;
    left: 21px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--bacground-color-header);
  border-left: 1px solid var(--bacground-color-header);
}

  .header__theme-menu {
    display: flex;
    justify-content: center;
  }

  
  .header__theme-menu-list {
    display: flex;
    gap:10px;
    padding-left: 400px;
    line-height: 18px;
  }

  
  .header__theme-menu-button {
    background: none;
    border: 0;
    padding: 2.5px 13px;
    font-family:inherit ;
    font-size: inherit;
    font-weight: inherit;
      color: var(--text-color);

  }

  .header__theme-menu-button {
  color: var(--text-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--border-color)
}

.header__text {
  color: var(--text-color);
  position: relative;
  padding-right: 17px;
}

.header__text::after {
  content: '';
  position: absolute;
  right: 0;
  top: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--text-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--text-color);
}

.header__text {
  margin-right: 12px;
  margin-left: auto;
}

  .header__theme-menu-button:hover {
    outline: 1px solid var(--border-color)
  }

  .header__theme-menu-button:focus {
    outline: 0;
    border-bottom: 1px solid var(--border-color)
  }

  .header__title {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
    font-weight: var(--font-weight-bold);
    color: var(--title-color);
 text-shadow: 4px 4px 0px var(--title-color-shadow);
 padding-top: 240px;    

  }

  .header__card {
    max-width: 491px;
    background-color: var(--bacground-color-header);
    margin-left: auto;
    color: #000;
    font-weight: var(--font-weight-bold);
    margin-top: 76px;
  }

  .wrappen {
    margin: 0 20px;
  }

  .main {
    margin-bottom: 60px
  }
  .focus-tip {
    display: flex;
    gap: 35px;
    margin-bottom: 82px;
  }

  .focus-tip__cards {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  .focus-tip__title {
   font-weight: var(--font-weight-bold);
     font-size: var(--font-size-normal);
    flex: 0 0 300px;

  }
  .section-title {
    font-weight: var(--font-weight-bold);
     font-size: var(--font-size-normal);
     color: var(--text-color);
  }

  .cards__item-title {
        background-color: var(--card-background-color);
       font-weight: var(--font-weight-bold);
     font-size: var(--font-size-normal);
     margin-bottom: 9px;
     color: var( --color-title-card);
  }

  .cards__item-text {
      font-weight: var(--font-weight-normal);
     font-size: var(--font-size-normal);
     color: var(--color-text-card);
     line-height: 23.4px;
  }

  .concentration {
     margin-bottom: 80px;
  }

  .concentration__title {
    max-width: 300px;
    margin-bottom: 20px;
  }

  .concentration__list {
    display: flex;
    gap: 20px;
  }
  
  .concentration__item {
        flex: 0 0 315px;
        

  }

  .tip {
    display: flex;
    gap: 33px;  
    margin-bottom: 80px;
  } 

  .tip__cards {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  .tip__title {
        flex: 0 0 303px;
  }

  .cards__title {
    background-color: var(--card-background-color);
       font-weight: var(--font-weight-bold);
     font-size: var(--font-size-normal);
     color: var( --color-title-card);
  }

  .images__title {
     background-color: var(--card-background-color);
     color: var(--color-title-card);
         margin-bottom: 20px;

  }
  
.images__galeray {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 433px;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.images__galeray img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.images__sunset {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.images__cream {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.images__tape {
  grid-column: 1;
  grid-row: 2 / span 2;
}

.images__books {
  grid-column: 2;
  grid-row: 2;
}

.images__street {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.footer {
  padding: 283px 0;
  background-image: none;
  display: flex;
  justify-content: center;
}
.footer__text {
  color: rgba(219, 0, 255, 1);
  text-shadow: 2px 2px 0px  rgba(255, 0, 112, 1);
 font-weight: var(--font-weight-bold);
 font-size: 157px;
}

.block-line {
  display: block;
}


@media (768px<=width<1024px) {

  .decorated-zone {
    padding-bottom: 183px;
  }

  .header__theme-menu {
    gap: 149px;
    flex-direction: column-reverse;
  }
  
  .header__theme-menu-list {
    padding-left: 0;
    flex-direction: column;
    align-items: flex-end;
  }

  .header__theme-menu-list {
    gap: 13px;
  }

  .header__title {
    font-size: 120px;
    padding-top: 149px;
  }

  .header__card {
    margin-top: 132px;
    max-width: 363px;
  }

  .focus-tip {
    margin-bottom: 80px;
  }

  .focus-tip__title {
    flex: 0 0 221px;
  }

  .concentration__title {
    max-width: 237px;
  }

  .concentration__list {
    gap: 22px;
  }

  .concentration__item {
    flex: 1 1 auto;
  }

  .concentration__list {
    flex-wrap: wrap;
  }

  .tip__title {
        flex: 0 0 230px;
  }

  .tip {
    gap: 25px;
  }

  .images__galeray {
    grid-template-rows: 193px 230px 316px;
  }

  .footer__text {
    font-size: 120px;
    padding-top: 154px;
    padding-bottom: 250px;
  }
}

@media (width<768px) {

    .decorated-zone {
    padding-bottom: 66px;
    padding-top: 9px;
    padding-right: 12px;

  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }
  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }
  .header {
    margin-bottom: 40px;
  }
  
  .header__text {
    margin-right: 9px;
  }

  .header__theme-menu {
    gap: 149px;
    flex-direction: column-reverse;
  }

    .header__theme-menu-list {
    padding-left: 0;
    flex-direction: column;
    align-items: flex-end;
  }

  .header__theme-menu-list {
    gap: 13px;
  }

  .header__theme-menu {
    gap: 43px;
  }

  .header__card {
        margin-left: 10px;
        margin-top: 55px;
  }

  .header__title  {
    line-height: 83%;
    padding-left: 10px;
    padding-top:68px ;
  }

  .main {
    margin-bottom: 40px;
  }
  .focus-tip {
    flex-direction: column;
  }

  .concentration__list {
    gap: 22px;
  }

  .concentration__item {
    flex: 1 1 auto;
  }

  .concentration__list {
    flex-wrap: wrap;
  }

  .tip {
        flex-direction: column;
        gap: 19px;
    margin-bottom: 51px;
  }

  .wrappen {
    margin: 0 10px;
  }

  .focus-tip__title {
    flex: 0 0 47px;
  }

  .focus-tip {
    gap: 21px;
    margin-bottom: 50px;
  }

  .focus-tip__cards {
    gap: 21px;
  }

  .concentration {
        margin-bottom: 50px;
  }

  .tip__title {
    flex: 0 0 70px;
}

  .images__galeray {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .images__title {
    margin-bottom: 12px;
  }

  .footer__text {
            padding-top: 250px;
        padding-bottom: 190px;
    padding-left: 10px;
    font-size: 116px;
  }



}